<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:component-scan base-package="com.xinhai.*">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>

	<tx:annotation-driven transaction-manager="transactionManager" />
	<!--<context:property-placeholder location="classpath*:properties/db.properties"/>-->
	<!--
		数据库连接配置
		${db.driver}、${db.url}、${db.userName}和${db.password}使用properties/db.properties文件中的配置
	-->
<bean id="dataSource" class="SqlHelper.CYSBasicDataSource"
        destroy-method="close">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.userName}"/>
        <property name="password" value="${db.password}"/>
    </bean>

	<!--<bean id="sqlSessionFactory"-->
		  <!--class="org.mybatis.spring.SqlSessionFactoryBean">-->
		<!--<property name="dataSource" ref="dataSource"/>-->
		<!--&lt;!&ndash;<property name="configLocation" value="classpath*:spring/mybatis-config.xml"/>&ndash;&gt;-->
		<!--<property name="mapperLocations" value="classpath*:mapping/**/*.map.xml"/>-->
	<!--</bean>-->

	<bean id="sqlSessionFactory"
		  class="com.xinhai.mybatis.SqlSessionFactoryBeanExtention">
		<property name="dataSource" ref="dataSource"/>
		<property name="mapperLocations" value="classpath*:mapping/${db.type}/*.map.xml"/>
	</bean>


	<!--配置spring mybatis数据访问接口扫描包-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.xinhai.customer.dao,com.xinhai.extattr.dao"/>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>

	<!--启用事务-->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
</beans>