@CHARSET "UTF-8";
.feedback-dialog-m .modal-dialog{
    width: 660px!important;
    border-radius: 4px !important;
}
.feedback-dialog-m .modal-dialog .modal-header h4{
    font-weight: 800;
    color: #333;
}
#feedbackForm .feedback-info{
    height: 90px;
    line-height: 90px;
}
#feedbackForm .feedback-info-t{
    height: 90px;
    resize: none;
}
#feedbackForm #dfbz
{
    width: 500px;
    height: 33px;
    border-radius: 0 4px 4px 0!important;
}