@CHARSET "UTF-8";
.appcustomerinfo-dialog-m .modal-dialog{
    width: 660px!important;
    border-radius: 4px !important;
}
.appcustomerinfo-dialog-m .modal-dialog .modal-header h4{
    font-weight: 800;
    color: #333;
}
#appcustomerinfoview-m .form-group {
     margin-bottom: 0;
}