@CHARSET "UTF-8";
 /*#dispatch-manager-content-edit .jstree-default .jstree-icon:empty{*/
    /*display: none;*/
/*}*/


/*#dispatch-manager-content-edit .jstree-default .jstree-wholerow*/
/*{*/
    /*height: 38px;*/
/*}*/

/*#dispatch-manager-content-edit .jstree-default .jstree-anchor{*/
    /*line-height: 38px;*/
    /*height: 38px;*/
/*}*/

/*#dispatch-manager-content-edit  .jstree-default .jstree-node{*/
    /*min-height:38px;*/
    /*line-height: 38px;*/
    /*min-width: 38px;*/
    /*margin-left:0px;*/
/*}*/
#dispatch-manager-content-edit .jstree-default .jstree-open>.jstree-ocl {
    background-position: -132px -4px;
}
#dispatch-manager-content-edit .jstree-default .jstree-closed > .jstree-ocl {
    background-position: -100px -4px;
    /* display: none; */
}
/*.jstree-default .jstree-leaf > .jstree-ocl {*/
    /*background-position: -68px -1px;*/
    /*!* display: none; *!*/
/*}*/
.jstree-default .jstree-leaf > .jstree-ocl {
    background-position: -68px -1px;
    /*display: none;*/
}

.jstree-default .jstree-closed > .jstree-ocl {
    background-position: -100px -4px;
    /*display: none;*/
}
#dispatch-manager-content-edit .jstree-default .jstree-node {
    background-position: -292px -4px;
    background-repeat: repeat-y;
}
#dispatch-manager-content-edit   .ui-layout-content{
    overflow-x: hidden;
    overflow-y: auto;
    height:478px!important;
}

