@CHARSET "UTF-8";
/*财税360样式开始*/
/*标题颜色*/
.financeTitle {
    color: #0274ca;
}

.financeBtnWhite {
    color: #fff;
}

.financeLink {
    color: #27a9f7;
}

#finance {
    padding: 15px;
    background: #f4f8f9;
}

#finance .content {
    background: #fff;
}

#finance .top {
    height: 180px;
    text-align: center;
}

#finance .top h3.h2 {
    color: #53bfff;
    padding-bottom: 10px;
}

#finance .top p:nth-child(3) {
    margin-top: 10px;
}

#finance #productul {
    border: 1px solid cyan;
}

#finance .mid div.btn {
    width: 120px;
    height: 36px;
    background: #27a9f7;
    margin: 20px auto;
    border-color: #27a9f7;
}

#finance .mid div.btn:hover {
    background: rgba(39, 169, 247, 0.8);
}

/*财税360样式结束*/
