.search-container input {
	height: 18px;
}

.search-container {
	font-family: "Microsoft YaHei", Arial, sans-serif;
	font-size: 12px;
/* 	color: #1e2c54; */
	background-color: #efeff7;
	height: auto;
	padding: 20px 0px 0px 0px;
	border: 1px solid #bcd4ec;
}

.tools-bar-container {
	height: 333px;
	margin-bottom: 20px;
	overflow: auto;
	overflow-x: hidden;
}

.clear {
	clear: both;
}

.search-container .tools-bar {
	margin-bottom: 15px;

}

.search-container .common {

}

.search-container .content select {
	width: 173px;
	height: 26px;
}

.search-container .title {
	float: left;
	width: 110px;
	text-align: center;
	margin-right: 36px;
	padding: 3px 0px;
}

.search-container .content {
	float: left;
	position: relative;
	width: calc(100% - 160px);
}

.search-container .content .option {
	float: left;
	padding: 3px 10px;
	margin-right: 10px;
	cursor: pointer;
}

.search-container .option.selected {
	background-color: #008dde;
	color: #fff;
}

.search-container .searchinput {

}

.search-container .search-bar {
	margin-bottom: 15px;
}

.search-container .select-box {
	background-color: #fff;
	border: 1px solid #ccc;
	position: absolute;
	display: none;
	width: 180px;
	max-height: 107px;
	min-height: 30px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 30000;
	margin-top: -5px;
}

.search-container .select-bar input {
	margin-bottom: 5px;
}

.search-container .select-box label {
	display: block;
	width: 173px;
	cursor: pointer;
}

.search-container .select-box label:hover {
	background-color: #efeff7;
}

.search-container .select-box label input {
	margin-right: 10px;
}

.search-container .nodes-bar {
	margin-top: 5px;
}

.search-container .nodes-bar .nodes {
	float: left;
	background-color: #cae2fc;
	border: 1px solid #bcd4ec;
	margin-right: 5px;
}

.search-container .nodes-bar .nodes .delete-node {
	float: left;
	padding: 0px 5px;
	cursor: pointer;
}

.search-container .nodes-bar .nodes span {
	display: block;
	float: left;
	padding: 0px 5px;
	width: 85px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.search-container .date-bar span {
	float: left;
	margin-right: 10px;
	font-size: 16px;
}

.search-container .button-bar {
	margin-left: 150px;
}

.search-container .button {
	padding: 8px 20px;
	float: left;
	text-align: center;
	cursor: pointer;
	background-color: #008dde;
	color: #fff;
	margin-right: 20px;
	border-radius: 5px;
}

.search-container .button:hover {
	background-color: #02254b;
}

.search-container .more-box {
	background-color: #fff;
	position: absolute;
	width: 180px;
	margin-left: 190px;
	margin-top: 40px;
	border: 1px solid #ccc;
	display: none;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}

.search-container .more-box label {
	padding: 5px 0;
	display: block;
	width: 100%;
	cursor: pointer;
}

.search-container .more-box label input {
	margin-right: 10px;
}

.search-container .more-box label:hover {
	background-color: #efeff7;
}

.search-container .more-box .clear-all {
	color: #008dde;
	height: 20px;
	background-color: #efeff7;
	padding: 12px 0px 12px 10px;
	cursor: pointer;
}

.search-container .buttons {

}

.pickup {
	width: 70px;
	height: 20px;
	background: #bcd2ec;
	text-align: center;
	cursor: pointer;
	margin: 0 auto;
}

.pickup div {
	float: right;
	margin-right: 5px;
	font-size: 18px;
}

.search-container input[type="text"] {
	height: 25px;
	width: 180px;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border linear .2s, box-shadow linear .2s;
	text-indent: 6px;
}

.search-container .select-bar .icon {
	position: absolute;
	margin-left: 160px;
	margin-top: 5px;
	height: 20px;
	cursor: pointer;
}

.search-container .select-bar .arrow {
	position: absolute;
	margin-left: 160px;
	margin-top: -28px;
	cursor: pointer;
}

.search-container .select-bar .icon:hover {
	opacity: 0.8;
}

#d_toolBar2,#d_toolBar1 {
	font-family: "Microsoft YaHei", Arial, ����, ����, sans-serif;
}

#d_toolBar1.d-toolbar {
	background-color: #fff;
	height: 60px;
}

#d_toolBar1.d-toolbar .toolbar-left-wrap {
	height: 60px;
}

#d_toolBar1.d-toolbar .d-text-box {
	width: 220px !important;
	height: 25px;
	padding-top: 3px;
	margin-left: 26px;
	margin-top: 16px;
	border-radius: 4px;
}

#d_toolBar1 .d-text-box>.editor-wrapper input {
	color: #777;
}

#d_toolBar1 #d_simpleSearchButton,#d_toolBar1 #d_newButton,#d_toolBar1 #d_deleteButton,#d_toolBar1 #d_viewButton {
	width: 70px;
	height: 28px;
	background: #008dde;
	color: #fff;
	margin: 16px 0 0 10px;
	border-radius: 3px;
}
#d_toolBar1 .d-icon{
display:none;
}
#d_toolBar1 #d_simpleSearchButton:hover,#d_toolBar1 #d_newButton:hover,#d_toolBar1 #d_deleteButton:hover,#d_toolBar1 #d_viewButton:hover {
/* 	background: #1e2c54; */
}

#d_toolBar1 #d_advancedSearchButton {
	width: 70px;
	height: 28px;
	background: #008dde;
	color: #fff;
	margin: 16px 0 0 10px;
	border-radius: 3px;
}

/* #d_toolBar1 #d_advancedSearchButton:hover {
	background: #1e2c54;
} */

#d_toolBar2 {
	background-color: #fff;
	height: 40px;
}

#d_toolBar2 #d_newButton {
	background: #efeff7;
	height: 27px;
	margin-top: 9px;
	margin-right: 3px;
	color: #008dde;
	width: 60px;
	border-radius: 0px;
}

#d_toolBar2 #d_newButton .d-icon {
	background: url("view/cmdb/assets/img/newButton.png") no-repeat
		!important;
}

#d_toolBar2 #d_newButton:hover {
	color: #fff;
	background: #008dde;
}

#d_toolBar2 #d_newButton:hover .d-icon {
	background: url("view/cmdb/assets/img/newButtonhover.png") no-repeat
		!important;
}

#d_toolBar2 #d_deleteButton {
	background: #efeff7;
	height: 27px;
	margin-top: 9px;
	margin-right: 3px;
	color: #008dde;
	width: 60px;
	border-radius: 0px;
}

#d_toolBar2 #d_deleteButton .d-icon {
	background: url("view/cmdb/assets/img/deleteButton.png") no-repeat
		!important;
}

#d_toolBar2 #d_deleteButton:hover {
	color: #fff;
	background: #008dde;
}

#d_toolBar2 #d_deleteButton:hover .d-icon {
	background: url("view/cmdb/assets/img/deleteButtonhover.png") no-repeat
		!important;
}

#d_toolBar2 #d_importButton {
	background: #efeff7;
	height: 27px;
	margin-top: 9px;
	margin-right: 3px;
	color: #008dde;
	width: 60px;
	border-radius: 0px;
}

#d_toolBar2 #d_importButton .d-icon {
	background: url("view/cmdb/assets/img/importButton.png") no-repeat
		!important;
}

#d_toolBar2 #d_importButton:hover {
	color: #fff;
	background: #008dde;
}

#d_toolBar2 #d_importButton:hover .d-icon {
	background: url("view/cmdb/assets/img/importButtonhover.png") no-repeat
		!important;
}

#d_toolBar2 #d_exportButton {
	background: #efeff7;
	height: 27px;
	margin-top: 9px;
	margin-right: 3px;
	color: #008dde;
	width: 60px;
	border-radius: 0px;
}

#d_toolBar2 #d_exportButton .d-icon {
	background: url("view/cmdb/assets/img/exportButton.png") no-repeat
		!important;
}

#d_toolBar2 #d_exportButton:hover {
	color: #fff;
	background: #008dde;
}

#d_toolBar2 #d_exportButton:hover .d-icon {
	background: url("view/cmdb/assets/img/exportButtonhover.png") no-repeat
		!important;
}

#d_toolBar2 #d_viewButton {
	background: #efeff7;
	height: 27px;
	margin-top: 9px;
	margin-right: 3px;
	color: #008dde;
	width: 60px;
	border-radius: 0px;
}

#d_toolBar2 #d_viewButton .d-icon {
	background: url("view/cmdb/assets/img/viewButton.png") no-repeat
		!important;
}

#d_toolBar2 #d_viewButton:hover {
	color: #fff;
	background: #008dde;
}

#d_toolBar2 #d_viewButton:hover .d-icon {
	background: url("view/cmdb/assets/img/viewButtonhover.png") no-repeat
		!important;
}

.d-trigger-icon-date {
	background: url("dorado/client/skins/modern/common/icons.gif") -100px
		-40px;
}

.d-trigger-icon-date:before {
	content: "";
}

.tools-bar .select-bar input[readonly] {
	cursor: pointer;
}

.d-text-box .blank-text {
	font-style: normal;
	padding-left: 5px !important;
}

.search-container .all-select {
    float: left;
    position: absolute;
    width: 100px;
    top: 0;
    left: 187px;
}

.search-container .all-select label{
	float: left;
}

.search-container .checkbox-title {
	float: left;
	padding: 3px 0px;
}
.d-tabbar.d-tabbar-top .tab-selected{
box-shadow:none;
}

#d_dataGridContainer .d-accordion{
	border-radius:none;
	border-radius:0px;
}
#d_dataGridContainer .d-accordion .d-section .d-section-caption-bar{
	height: 32px;
    font-size: 14px;
}
#d_dataGridContainer .d-grid .data-table .odd-row{
background:#fff;
}
#d_dataGridContainer .d-grid .data-table .current-row{
	color:#008dde;
background:#fff;
}
#d_dataGridContainer .d-grid .data-table .row td{
    height: 32px;
    font-size: 12px;
    border-right: 1px transparent  solid;
    border-bottom: 1px transparent  solid;
}
.d-grid .header-table .header{
    height: 34px;
    font-size: 14px;
}
.d-grid .data-table .row td{
	height: 34px;
    font-size: 14px;
}
#d_dataGridContainer .d-grid .data-table .row td .cell{
	height:100%;

}
#d_dataGridContainer  .cell{
	/*padding-left: 14px!important;*/
}
#d_dataGridContainer .d-grid .d-tree-node{
	height:100%;

}
#d_dataGridContainer .d-grid .d-tree-node:before{
	content:'';
	position:absolute;
	width:2px;
	height:100%;
	top:0;
	margin-left: 18px;
	border-left:2px dashed #008dde;
}
#d_dataGridContainer .d-grid .node-button{
	visibility: visible;
    margin-right: 16px;
    margin-left: 16px;
}
#d_dataGridContainer .d-grid .data-table .selected-row .node-button:hover,#d_dataGridContainer .d-grid .data-table .current-row .node-button:hover,#d_dataGridContainer .d-tree-node .node-button:active,#d_dataGridContainer .d-tree-node .node-button:hover{
	    border-color: transparent;
}
#d_dataGridContainer .d-tree-node .node-button.collapse-button{
	transform:none;
}
#d_dataGridContainer .d-grid .node-button:before{
    content: '';
    position: absolute;
    background: url(view/common/img/line-point.png) no-repeat;
    width: 20px;
    height: 12px;
    margin-left: -3px;
    top: 1px;
    background-position-x: -6px;
}
#d_dataGridContainer .d-grid .node-button.collapse-button:before{
	content:'';
	position:absolute;
	background:url(view/common/img/scroll.png) no-repeat;
	width:13px;
	height:13px;
	margin-left: -11px;
    top: 3px;
}
#d_dataGridContainer .d-grid .node-button.expand-button:before{
    content: '';
    position: absolute;
    background: url(view/common/img/expand.png) no-repeat;
    width: 13px;
    height: 13px;
    margin-left: -11px;
    top: 3px;
}
#d_dataGridContainer .d-caption-bar:after{
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 20px;
    height: 20px;
    background: url(view/common/img/box-icon.png) no-repeat;
}
#d_dataGridContainer .d-caption-bar .caption{
    padding-left: 30px;
}
.d-tabbar{
/*     color: #1e2c54; */
    background-color: #efeff7;
}
.d-tabbar .tab{
/*     color: #1e2c54; */
    background-color: #efeff7;
}
#d_tabControl1 .d-tabbar .tab.tab-selected,.d-tabbar .tab.tab-selected{
    color: #fff;
	/*     background-color: #1e2c54; */}
#d_toolbar1 .d-button{
    background: #008dde;
    color: #fff;
    margin-right: 5px;

}
#d_toolbar1 .d-button .d-icon{
	background-image: url(icontool/icons-w.png)!important;
}
#d_autoformCondition .d-text-box{
    height: 28px;
}
#d_autoformCondition .d-text-box > .editor-wrapper{
	height: 28px;
}
#d_htmlContainer1 .d-text-box{
	height: 25px;
}
#d_htmlContainer1 .d-text-box .d-trigger{
	top:4px;
}
#d_autoformCondition .d-text-box > .editor-wrapper > .editor{
	text-indent: 10px;
}
#d_autoformCondition .d-text-box .d-trigger{
	height: 28px;
}
#d_autoformCondition .d-text-box .d-trigger .d-icon{
    height: 20px;
    margin-top: 5px;
}
#d_splitPanel1 {
	width: 98%!important;
    margin-left: 1%;
    margin-top:10px!important;
    border:1px solid #cae2fc;
    box-shadow:1px 1px 1px 1px #cae2fc;
}
 .d-icon-button-hover .d-icon, .d-button-hover .d-icon{
	background-image: url(icontool/icons-w.png)!important;
}
#d_toolBar1 .toolbar-right{
	right: 8px!important;
    top: 30px!important;
}
#d_pager .toolbar-left-wrap{
	height:100%!important;
}
#d_pager .toolbar-left-wrap .toolbar-left{
	height:100%!important;
}
#d_mainContainer .d-dock-layout{
	/*overflow:auto;*/
}
.d-accordion .d-section.current-section .d-section-caption-bar,.d-accordion .d-section .d-section-caption-bar{
	background-color:#008dde;
	box-shadow: inset 3px 0 0 #008dde;
}
.d-accordion .d-section.hover-section .d-section-caption-bar{
	background-color: #4ab5f3;
	box-shadow: inset 3px 0 0 #4ab5f3;
}
#d_tabControl1 .d-tabbar .tab-selected{
	background-color:#008dde;
}